/*
COLORS

Primary: #eb2f64;
Primary light: #FF3366;
Primary dark: #BA265D;

Grey light 1: #faf9f9;
Grey light 2: #f4f2f2;
Grey light 3: #f0eeee;
Grey light 4: #ccc;

Grey dark 1: #333;
Grey dark 2: #777;
Grey dark 3: #999;

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*::selection {
  color: var(--color-primary-dark); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 72.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 1.8rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.3em) {
    .search {
      order: 1;
      flex-basis: 100%;
      background-color: var(--color-grey-light-2); } }
  .search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s; }
    .search-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search-input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search-input:focus + .search-button {
    background-color: var(--color-grey-light-3); }
  .search-button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search-button:focus {
      outline: none;
      transform: translateY(2px); }
  .search-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
    position: relative; }
  .user-nav-notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav-user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 57.5em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav-item {
    position: relative; }
    .side-nav-item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 57.5em) {
        .side-nav-item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 57.5em) {
      .side-nav-item {
        flex: 1; } }
  .side-nav-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 1s; }
  .side-nav-item:hover::before, .side-nav-item-active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav-item:active::before {
    background-color: var(--color-grey-light); }
  .side-nav-link:link, .side-nav-link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative; }
    @media only screen and (max-width: 57.5em) {
      .side-nav-link:link, .side-nav-link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 40.1em) {
      .side-nav-link:link, .side-nav-link:visited {
        flex-direction: column;
        padding: 1.5rem; } }
  .side-nav-icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 40.1em) {
      .side-nav-icon {
        margin-right: 0;
        margin-bottom: 0.8rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }
  @media only screen and (max-width: 57.5em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery-photos {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-grey-light-2);
  align-items: center; }
  @media only screen and (max-width: 29em) {
    .overview {
      flex-wrap: wrap; } }
  .overview-heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    .overview-heading::selection {
      color: var(--color-primary); }
    @media only screen and (max-width: 40.1em) {
      .overview-heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
    @media only screen and (max-width: 29em) {
      .overview-heading {
        order: -1;
        width: 100%;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 500; } }
  .overview-icon-stars {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 29em) {
      .overview-icon-stars {
        margin-right: auto;
        margin-left: 3rem; } }
    @media only screen and (max-width: 25em) {
      .overview-icon-stars {
        margin-left: 0; } }
  .overview-icon-star, .overview-icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview-rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s; }
    @media only screen and (max-width: 40.1em) {
      .overview-rating {
        padding: 0 1.5rem; } }
    @media only screen and (max-width: 29em) {
      .overview-rating {
        margin-left: auto;
        margin-right: 3rem; } }
    @media only screen and (max-width: 29em) {
      .overview-rating {
        margin-right: 0; } }
    .overview-rating:hover {
      background-color: rgba(235, 47, 100, 0.85); }
    .overview-rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: 0.3rem; }
      @media only screen and (max-width: 40.1em) {
        .overview-rating-average {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 29em) {
        .overview-rating-average {
          font-size: 2rem; } }
    .overview-rating-count {
      font-size: 0.8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 40.1em) {
        .overview-rating-count {
          font-size: 1rem; } }
      @media only screen and (max-width: 29em) {
        .overview-rating-count {
          font-size: 1.2rem; } }
  .overview-icon-location {
    margin-right: 0.5rem; }
  .overview-location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
    @media only screen and (max-width: 29em) {
      .overview-location {
        font-size: 1.6rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 0.8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-top: var(--line);
  border-bottom: var(--line);
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 25em) {
    .list {
      padding: 2rem;
      margin: 2.5rem 0; } }
  .list-item {
    flex: 0 0 50%;
    margin-bottom: 0.7px; }
    @media only screen and (max-width: 29em) {
      .list-item {
        flex-basis: 100%; } }
  .list-item:before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.recommend {
  display: flex;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  align-items: center; }
  .recommend-count {
    margin-right: auto; }
  .recommend-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.2s;
    box-sizing: content-box; }
    .recommend-photo:hover {
      transform: translateY(-0.5rem); }
    .recommend-photo:not(:last-child) {
      margin-right: -1.5rem; }
  .recommend-friends {
    display: flex; }

.review {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 57.5em) {
    .review {
      padding: 2.5rem;
      margin-bottom: 3rem; } }
  .review-text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 2000; }
  .review-photo {
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem;
    border-radius: 50%; }
  .review-user {
    display: flex;
    align-items: center; }
    .review-user-box {
      margin-right: auto; }
    .review-user-name {
      text-transform: uppercase;
      margin-bottom: 0.4rem;
      font-weight: 600;
      font-size: 1.5rem; }
    .review-user-date {
      font-size: 1.2rem;
      color: var(--color-grey-dark-3); }
  .review-rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
    @media only screen and (max-width: 40.1em) {
      .review-rating {
        font-weight: 500; } }
  .review::before {
    content: "\201C";
    line-height: 1;
    position: absolute;
    top: -2rem;
    left: -0.6rem;
    font-size: 15rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 10; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 57.5em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta-book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .btn-invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0; }
  .btn-visible {
    display: inline-block;
    padding: 2rem 7.5rem; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn-invisible {
    top: 0; }
  .btn:hover .btn-visible {
    transform: translateY(100%); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.3em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 57.5em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border: var(--line);
  font-size: 1.4rem; }
  @media only screen and (max-width: 57.5em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 40.1em) {
    .details {
      flex-direction: column;
      gap: 6rem; } }

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 3rem; }
  @media only screen and (max-width: 57.5em) {
    .description {
      padding: 2rem; } }

.user-review {
  flex: 1;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
